.point-icon {
  width: 40px;
  display: inline-block;
  position: relative;
  &__del {
    position: absolute;
    width: 15px;
    right: -10px;
    top: -10px;
  }
  &__img {
    width: 100%;
    height: auto;
  }
}
.match-btn {
  background-color: $light-blue;
  border: 4px solid $deep-blue;
  border-radius: 20px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  width: 175px;
  min-height: 50px
}
.close-btn {
  @include small-btn($white, $light-grey, $light-grey);
}
.active-btn {
  @include small-btn($light-blue, $deep-blue, $white);
}
